{% extends "base.html" %}

{% block content %}


<section class="pb-4">

   <div class="bg-white border rounded-5" bis_skin_checked="1">
    <div class="container">
    {% if user_form.errors %}
      <div class="alert alert-danger">
        <strong>Error!</strong> {{user_forms.errors.password2}}
      </div>
    {% endif %}
    </div>

    <section class="w-100 p-4 d-flex justify-content-center pb-4">
      <form style="width: 22rem;" method="post">
        {% csrf_token %}
        <div class="form-outline mb-4" bis_skin_checked="1">
          <input type="text" id="username" class="form-control" name="username">
          <label class="form-label" for="username" style="margin-left: 0px;">Your Username</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 88.8px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>

        <div class="form-outline mb-4" bis_skin_checked="1">
            <input type="email" id="email" class="form-control" name="email">
            <label class="form-label" for="email" style="margin-left: 0px;">Your Email</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 88.8px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>

        <div class="form-outline mb-4" bis_skin_checked="1">
            <input type="text" id="name" class="form-control" name="first_name">
            <label class="form-label" for="name" style="margin-left: 0px;">Your name</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 88.8px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>

        <div class="form-outline mb-4" bis_skin_checked="1">
            <input type="text" id="last_name" class="form-control" name="last_name">
            <label class="form-label" for="last_name" style="margin-left: 0px;">Your surname</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 88.8px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>

        <div class="form-outline mb-4" bis_skin_checked="1">
          <input type="password" id="password" class="form-control" name="password">
          <label class="form-label" for="password" style="margin-left: 0px;">Your password</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 64px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>

        <div class="form-outline mb-4" bis_skin_checked="1">
            <input type="password" id="password2" class="form-control" name="password2">
            <label class="form-label" for="password2" style="margin-left: 0px;">Repeat your password</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 64px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>


        <div class="col d-flex justify-content-center" bis_skin_checked="1">
          <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
        </div>

        <div class="text-center" bis_skin_checked="1">
          <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
          <p>or sign up with:</p>
        </div>
      </form>
    </section>
</section>
{% endblock content %}

{% block title %}
Log in
{% endblock %}