{% extends "base.html" %}
{% block title %} All authors {% endblock %}
{% block content %}

<main>

    <div class="album py-5 bg-light" bis_skin_checked="1">
        <div class="container" bis_skin_checked="1">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" bis_skin_checked="1">
                {% for author in authors %}

                        <div class="col" bis_skin_checked="1">
                            <div class="card shadow-sm" bis_skin_checked="1">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                <div class="card-body" bis_skin_checked="1">
                                    <H4 class="card-text"> {{author}}</H4>
                                    <p class="card-text">{{author.date_of_birth}}, год.</p>
                                    <p class="card-text">{{book.get_genre}}</p>
                                    <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
                                        <div class="btn-group" bis_skin_checked="1">
                                            <a href="{{ author.get_author_url }}" class="btn btn-sm btn-outline-secondary">{{ author.last_name }}'s</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
      </div>
    </div>
  </main>
{% endblock content %}